@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* min-height: 110vh; */
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 140px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    height: 15px;
}

.carousel-item img {
    margin-top: -200px;
}

#carrossel {
    z-index: 1;
    max-height: 500px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #000;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #000;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    border: 2px solid #fff;
    color: #fff;
}

.home_box {
    display: flex;
    width: 100%;
    padding: 65px 140px;
    background: #000;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.home_image {
    /* height: 200px; */
    width: 15rem;
    align-self: center;
    padding-top: 3rem;
}

.veiculos_galeria {
    display: flex;
    padding: 20px 140px;
    gap: 30px;
    margin-bottom: 50px;
}

.sobre {
    /* padding: 10px 0px; */
}

.sobre_image {
    background: url(../images/Veiculos-Model-3.avif) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 350px;
}

.sobre_text {
    display: flex;
    background-color: rgb(236, 234, 234);
    padding: 60px 140px;
    gap: 40px;
    text-align: justify;
}

.contato_endereco {
    display: flex;
    padding: 30px 140px;
    gap: 40px;
}

.contato_form {
    display: flex;
    /* padding: 30px 140px; */
    gap: 40px;
    align-content: baseline;
}

.contato_campo {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.contato_maps {
    padding: 40px 140px;
}

.contato_media {
    padding: 40px 0px;
}

.titulo_text {
    text-align: center;
    padding: 20px 140px;
    margin-top: 60px;
}

/* mídias sociais */
.fa {
    padding: 15px;
    font-size: 16px;
    /* width: 50px; */
    text-align: center;
    text-decoration: none;
    border-radius: 35px;
    margin: 5px 2px;
    display: inline;
}

.fa:hover {
    opacity: 0.6;
}

.fa-facebook {
    background: #242424;
    color: white;
}

.fa-twitter {
    background: #242424;
    color: white;
}

.fa-linkedin {
    background: #242424;
    color: white;
}

.fa-instagram {
    background: #242424;
    color: white;
}